server {
    listen 0.0.0.0:8099 default_server;
    server_name _;

    proxy_buffering        off;
    proxy_intercept_errors  on;
    recursive_error_pages   on;

    location / {
        proxy_pass         http://127.0.0.1:8080/__INGRESS_ENTRY__/;

        proxy_cookie_path ~^/api/hassio_ingress/[^/]+ /;

        proxy_set_header   Host $host;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection $connection_upgrade;
    }
}
